.menu_wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
  padding-top: 10%;
}

.menu_items {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  border: 1px solid black;
  border-radius: 15px;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1), 1px 4px 5px 0 rgba(0, 0, 0, 0.1);
}
