.sideMenu {
  position: sticky;
  top: 0px;
  height: fit-content;
  padding-left: 1.5vh;
  padding-top: 1.5vh;
  display: flex;
  flex-direction: column;
  padding: 1%;
  width: 20%;
}

.ellipsisText {
  display: inline-block;
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
}

.buttonGroup {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.selectionButton {
  align-items: center;
  border-top: 0;
  border-left: 2px solid var(--nextui-colors-primary);
  border-right: 2px solid var(--nextui-colors-primary);
  border-bottom: 2px solid var(--nextui-colors-primary);
  display: flex;
  justify-content: center;
  max-width: 100%;
  padding: 10px;
  width: 100%;
  font-size: var(--nextui-fontSizes-md);
  cursor: pointer;
  background-color: var(--nextui--navbarBlurBackgroundColor);
}

.selectionButton:first-of-type {
  border-top: 2px solid var(--nextui-colors-primary);
  border-left: 2px solid var(--nextui-colors-primary);
  border-right: 2px solid var(--nextui-colors-primary);
  border-bottom: 2px solid var(--nextui-colors-primary);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.selectionButton:last-of-type {
  border-left: 2px solid var(--nextui-colors-primary);
  border-right: 2px solid var(--nextui-colors-primary);
  border-bottom: 2px solid var(--nextui-colors-primary);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.newAnalysisButton,
.deleteAnalysisButton {
  align-items: center;
  border: 0px;
  color: var(--nextui-colors-primarySolidContrast);
  background-color: var(--nextui-colors-primary);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  max-width: 100%;
  padding: 10px;
  width: 100%;
  font-size: var(--nextui-fontSizes-md);
  cursor: pointer;
  box-shadow: 0 3px 4px 1px rgb(104 112 118 / 15%);
}

.deleteAnalysisButton {
  color: var(--nextui-colors-primarySolidContrast);
  background-color: var(--nextui-colors-error);
}

/* Actions */
.selectionButton:active,
.newAnalysisButton:active,
.deleteAnalysisButton:active {
  transform: scale(0.98);
}

.selectionButton:disabled {
  box-shadow: inset 0 12px 34px 6px rgb(104 112 118 / 0.15);
  outline: none;
}
